body{
    background-color: #FFD8D5;
    margin:0;
    margin-top: -20px;
    padding-bottom:20px;
    padding-top: 20px;
    padding-right:20px;
    padding-left: 20px;
}

p{
    margin: 0;
}

.header{
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
    position:fixed;
    left:0;
    right:0;
    background-color: #FFD8D5;
    z-index:100;
}


.header-content{
    margin-right: 20px;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 20px;
    color: #2D2D2D;
    text-decoration: none;
}

.header-content:hover{
    color: #FF046D;
}


.wave{
    position: fixed;
    width:100%;
    bottom:-300px;
    z-index:-10;
    margin-left: -20px;
}






/* set initial state of elements with this class*/
.fade-in{
    opacity:0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* final state after the animation*/
.fade-in.visible{
    opacity:1;
    transform: translateY(0);
}



.container{
    margin-top: 120px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.less-margin{
    margin-top: 0px;
}

.about-image{
    flex:1;
}

.about-desc{
    flex:1;
}


.me{
    width:500px;
    margin-top: 90px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.nori{
    width:700px;
    margin-top: 90px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.section-title{
    font-family: 'Delicious Handrawn', sans-serif;
    color: #FF046D;
    font-size: 50px;
    text-align:center;
    margin-bottom: 20px;
}

.section-desc{
    font-family:'open sans';
    font-size: 20px;
    max-width: 700px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}




.crochet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .crochet-row1, .crochet-row2, .crochet-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .crochet-image-container {
    position: relative;
    width: 300px; /* Adjust size as needed */
    height: auto;
  }
  
  .crochet-image-container img {
    width: 100%;
    height: auto;
  }
  




.copyright{
    text-align: center;
    font-family: 'Borel';
    margin-top:300px;
    font-size:14px;
}






/* breakpoints */
@media (max-width: 1200px) {
    
    .container{
        flex-direction: column;
        margin-bottom: 120px;
        text-align: center;
    }
}

@media (max-width: 1200px){
    .wave{
        bottom:-200px;
    }
}

@media (max-width: 950px){
    .crochet-row1, .crochet-row2, .crochet-row3 {
        flex-wrap: wrap;
      }
}

@media (max-width: 800px){
    .wave{
        visibility: hidden;
    }
}

@media (max-width: 700px){
    .nori{
        width:450px;
        margin-top: 90px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}

@media (max-width: 400px){
    .me{
        width: 100%;
    }
    .nori{
        width:100%;
        margin-top: 90px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}





